<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>홈</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <div class="w-full h-screen">
            <div class="w-full h-[80px] flex justify-between items-center px-[20px] bg-gray-950 border-b-[1px] border-b-[#292c32] absolute top-0 sticky">
                <div class="flex items-center gap-2">
                    <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full border border-gray-300 box-content">
                        <div sec:authorize="hasRole('ADMIN')">
                            <img th:src="@{/images/crown.png}" src="../static/images/crown.png" />
                        </div>

                        <div sec:authorize="hasRole('USER')">
                            <svg
                                class="absolute w-12 h-12 text-gray-400 -left-1"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- <div th:text="${username}">username</div> -->
                    <!-- <div th:text="${member.username}">username</div> -->
                    <div class="text-white" th:text="${#authentication.principal.username}">username</div>
                </div>
                <div class="flex items-center">
                    <form th:action="@{/logout}" method="post">
                        <button
                            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5"
                        >
                            로그아웃
                        </button>
                    </form>
                </div>
            </div>
            <div class="p-4 w-full min-h-[calc(100vh-80px)] max-h-[calc(100vh-100px)] bg-gray-800 overflow-y-auto">
                <div class="flex p-4 w-full bg-gray-50 border border-gray-50 rounded-[10px]">
                    <div class="flex flex-col gap-[8px]">
                        <div class="flex gap-[10px]">
                            <div class="w-[80px] font-semibold">아이디</div>
                            <div th:text="${#authentication.principal.username}">username</div>
                        </div>
                        <div class="flex gap-[10px]">
                            <div class="w-[80px] font-semibold">회원 등급</div>
                            <div sec:authorize="hasRole('USER')">
                                <div>사용자</div>
                            </div>
                            <div sec:authorize="hasRole('ADMIN')">
                                <div>관리자</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- min-h-[calc(100vh-100px)]  -->
        <!--<h1 th:text="${username} + '님 환영합니다!'">환영합니다!</h1>-->
        <!--<h1 th:text="${member.username} + '님 환영합니다!'">환영합니다!</h1>-->
        <!--<h1 th:text="${#authentication.principal.username} + '님 환영합니다!'">환영합니다!</h1>-->

        <!--<div th:if="${#authorization.expression('isAuthenticated()')}">-->
        <!--  <h1 th:text="${#authentication.principal.username} + '님 환영합니다!'">환영합니다!</h1>-->
        <!--  <p>로그인에 성공하셨습니다.</p>-->
        <!--  <form th:action="@{/logout}" method="post">-->
        <!--    <button type="submit">로그아웃</button>-->
        <!--  </form>-->
        <!--</div>-->

        <!--<div sec:authorize="isAuthenticated()">-->
        <!--  로그인 중입니다: <span sec:authentication="name"></span>-->
        <!--</div>-->

        <!--<div sec:authorize="hasRole('ADMIN')">-->
        <!--  <div>관리자입니다</div>-->
        <!--</div>-->

        <!--<div sec:authorize="hasRole('USER')">-->
        <!--  <div>사용자입니다</div>-->
        <!--</div>-->

        <!--<div th:if="${#authorization.expression('isAnonymous()')}">-->
        <!--  <div>로그인 하십쇼</div>-->
        <!--  <a th:href="@{/login}">로그인</a>-->
        <!--  <a th:href="@{/signup}">회원가입</a>-->
        <!--</div>-->
    </body>
</html>
